<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
			<!-- link href="{{asset('Font-Awesome/css/font-awesome.min.css')}}" rel="stylesheet" -->
		{% endblock %}
			<script type="text/javascript" src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="main_container">
    {% block header %}{% endblock %}
            <div class="container-fluid">
                <div class="row-fluid" id="logo">
                    <span class="span2 logo-name">
                        <div class="row-fluid">
                            <span class="span1"></span>
                        </div>
                        <div class="row-fluid"><h1>TCM</h1></div>
                        <div class="row-fluid">
                            <span class="span1"></span>
                        </div>
                    </span>
                    <span class="span10" style="text-align: center; color: rgb(167, 3, 48); margin-top: 15px;">
                        <span style="padding-right: 0px; padding-left: 145px;">8(495)</span>
                        <span style="font-weight: bold; color: rgb(167, 3, 48); font-size: 20px; padding-left: 0px; border-bottom-width: 0px; margin-bottom: 0px; padding-bottom: 0px;">915-56-87</span><br/>
                        <br />2-ой Гончарный пер., д. 6 , корп. 4, офис 307
                    </span>
                </div>
            </div>
            <div class="row-fluid menu">
                <span class="span2"></span>
                <span class="span10">{{ knp_menu_render( 'TsmCatalogBundle:Builder:mainMenu', {'template' : 'TsmCatalogBundle:Menu:knp_menu.html.twig' } ) }}</span>
            </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
		{% block footer %}
		{% endblock %}
            </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
