<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
			<!-- link href="{{asset('Font-Awesome/css/font-awesome.min.css')}}" rel="stylesheet" -->
		{% endblock %}
			<script type="text/javascript" src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		{% block header %}
			<table width="860" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table width="760" border="0" cellspacing="0" cellpadding="0">
							<tr height="60">
								<td width="152" height="60"><!-- #BeginEditable "Region2" --><img src="(EmptyReference!)" alt="Logo 152x60" style="height:50px; width:300px;" border="0" /><!-- #EndEditable --></td>
								<td width="59" height="60"></td>
								<td width="486" height="60"><!-- #BeginEditable "Region" --><img src="(EmptyReference!)" alt="Banner Ad 468x60" style="height:50px; width:486px;" border="0" /><!-- #EndEditable --></td>
								<td width="63" height="60"></td>
							</tr>
						</table>
						<table width="760" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="760" height="10"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		{% endblock %}
            <div class="container-fluid">
                <div class="row-fluid">
                    <span class="span2">
                        <div class="row-fluid"><span class="span1" style="border: #000 solid 1px; width: 25px; height: 25px; text-align: center; background-color: #a70330;">Т</span></div>
                        <div class="row-fluid">
                            <span class="span1" style="border: #000 solid 1px; width: 25px; height: 25px; text-align: center; background-color: grey;">С</span>
                            <span class="span2"><b><span style="color:#a70330;">Тепло</span><span style="color: gray;">Строй</span>Монтаж</b></span>
                        </div>
                        <div class="row-fluid"><span class="span1" style="border: #000 solid 1px; width: 25px; height: 25px; text-align: center;">М</span></div>
                    </span>
                    <span class="span1"></span>
                    <span class="span10">
                        <span><a href="#">Главная</a></span>
			<span><a href="#">Партнёры</a></span>
			<span><a href="#">Каталог</a></span>
			<span><a href="#">Контакты</a></span>
			<span><a href="#">О компании</a></span>
			<span><a href="#">Обратная связь</a></span>
                    </span>
                    <span class="span1"></span>
                </div>
            </div>
            <div class="row-fluid"><span class="span3"></span></div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
		{% block footer %}
			<table width="760" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table width="760" border="0" cellspacing="0" cellpadding="0">
							<tr height="60">
								<td width="152" height="60"><!-- #BeginEditable "Region2" --><img src="(EmptyReference!)" alt="Logo 152x60" style="height:50px; width:300px;" border="0" /><!-- #EndEditable --></td>
								<td width="59" height="60"></td>
								<td width="486" height="60"><!-- #BeginEditable "Region" --><img src="(EmptyReference!)" alt="Banner Ad 468x60" style="height:50px; width:486px;" border="0" /><!-- #EndEditable --></td>
								<td width="63" height="60"></td>
							</tr>
						</table>
						<table width="760" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="760" height="10"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
