{% extends '::base.html.twig' %}
{% block title %}{{ service.name }}{% endblock %}
{% block page_title %}{{ service.name }}{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9" style="margin-left: 17px;">
    {{ service.name }}
    {{ service.price }}
    {{ service.descr | raw }}
    {{ service.category.name }}
</span>
{% endblock %}