{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Отправить заявку{% endblock %}
{% block page_title %}Отправить заявку{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span8" style="margin-left: 17px;">
    
    {% if app.session.hasFlash('feedback-notice') %}
        <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ app.session.flash('feedback-notice') }}
        </div>
    {% endif %}

    <div id="error" class="alert alert-error">
        {{ form_errors(form.companyname) }}
        {{ form_errors(form.fullname) }}
        {{ form_errors(form.phone) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.captcha) }}
    </div>
    <form action="{{ path('_static_feedback') }}" method="post" {{ form_enctype(form) }} class="contact">
        <div>
            {{ form_label( form.companyname ) }}
            {{ form_widget( form.companyname ) }}
        </div>
        <div>
            {{ form_label( form.fullname ) }}
            {{ form_widget( form.fullname ) }}
        </div>
        <div>
            {{ form_label( form.phone ) }}
            {{ form_widget( form.phone ) }}
        </div>
        <div>
            {{ form_label( form.email ) }}
            {{ form_widget( form.email ) }}
        </div>
        <div>
            <label for="service" style="padding-top: 1px;">Выберите интересующие Вас услуги</label>
            <input type="checkbox" name="service[]" value="Тепловые пункты" /> <span style="font-size: 14px; padding-top: 0px; margin-top: 0px; margin-left: 5px;">Тепловые пункты</span><br />
            <input type="checkbox" name="service[]" value="Узлы учета тепловой энергии" /><span style="font-size: 14px; margin-left: 10px;">Узлы учета тепловой энергии</span>
        </div>
        <div>
            {{ form_label( form.comment ) }}
            {{ form_widget( form.comment ) }}
        </div>
        <div>
            {{ form_label( form.captcha ) }}
            {{ form_widget( form.captcha ) }}
        </div>
        {{ form_rest(form) }}
{#        <img src="{{ form.captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />#}
        <div>
            <label></label>
            <input type="submit" value="Отправить"  style="margin-left: 275px; padding-left: 0px;"/>
        </div>
    </form>
</span>
{% endblock %}