{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Отправить заявку{% endblock %}
{% block page_title %}Отправить заявку{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span8" style="margin-left: 17px;">
    
    {% if app.session.hasFlash('feedback-notice') %}
        <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ app.session.flash('feedback-notice') }}
        </div>
    {% endif %}

    <form action="{{ path('_static_feedback') }}" method="post" {{ form_enctype(form) }} class="contact">
        {{ form_errors(form) }}

        {{ form_rest(form) }}
{#        <img src="{{ form.captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />#}
        <div>
            <label></label>
            <input type="submit" value="Отправить"  style="margin-left: 325px;"/>
        </div>
    </form>
</span>
{% endblock %}