{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Отправить заявку{% endblock %}
{% block page_title %}Отправить заявку{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span8" style="margin-left: 30px;">
    
    {% if app.session.hasFlash('feedback-notice') %}
        <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ app.session.flash('feedback-notice') }}
        </div>
    {% endif %}

<div style="margin-bottom: 20px; color: red;">
        {{ form_errors(form.companyname) }}
        {{ form_errors(form.fullname) }}
        {{ form_errors(form.phone) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.captcha) }}
</div>
        <form action="{{ path('_static_feedback') }}" method="post" {{ form_enctype(form) }} class="contact">
        <div>
            {{ form_label( form.companyname ) }}
            {{ form_widget( form.companyname ) }}
        </div>
        <div>
            {{ form_label( form.fullname ) }}
            {{ form_widget( form.fullname ) }}
        </div>
        <div>
            {{ form_label( form.phone ) }}
            {{ form_widget( form.phone ) }}
        </div>
        <div>
            {{ form_label( form.email ) }}
            {{ form_widget( form.email ) }}
        </div>
        <div>
            <label for="" style="padding-top: 1px;">Интересующие услуги</label>
            <label for="warm" style="padding-top: 3px;" class="checkbox inline">
                <input type="checkbox" value="Тепловые пункты" name="service[]" id="warm">
                Тепловые пункты
            </label>
            <label style="padding-top: 3px; margin-left: -55px;" class="checkbox inline">
                <input type="checkbox" value="Узлы учета тепловой энергии" name="service[]" id="energy">
                Узлы учета тепловой энергии
            </label>
        </div>
        <div>
            {{ form_label( form.comment ) }}
            {{ form_widget( form.comment ) }}
        </div>
        <div>
            {{ form_label( form.captcha ) }}
            {{ form_widget( form.captcha ) }}
        </div>
        {{ form_rest(form) }}
{#        <img src="{{ form.captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />#}
        <div>
            <label></label>
            <input type="submit" value="Отправить"  style="margin-left: 330px; padding-left: 0px;"/>
        </div>
    </form>
</span>
{% endblock %}