{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Наши клиенты{% endblock %}
{% block page_title %}Наши клиенты{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9" style="margin-left: 17px;">
        <div class="row show-grid" >
            <span class="span3">
                <a href="http://transaero.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/transaero.jpg' ) }}" ></a>
            </span>
            <span class="span9"><b>«Трансаэро»</b> - первая частная авиакомпания в истории России. С самого начала она создавалась на новой основе, впитывая в себя все лучшее, что есть в мировой гражданской авиации.
День рождения авиакомпании «Трансаэро» - 5 ноября 1991 года. Тогда на арендованном самолете, но уже под собственным кодом UN, был выполнен ее первый полет - чартерный рейс по маршруту Москва - Тель-Авив - Москва. </span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://www.mosreactiv.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/chemical.gif' ) }}" style="width: 100px;"></a>
            </span>
            <span class="span9"><b>ЗАО «Мосреактив»</b> — это динамично развивающаяся производственно-сбытовая компания, основанная в 1957 году. Сегодня ЗАО «Мосреактив» располагает многофункциональным комплексом, включающим таможенный склад, производственные и фасовочные цеха, аналитическую лабораторию, автотранспортное хозяйство.</span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://circus.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/circus.gif' ) }}" style="width: 120px;"></a>
            </span>
            <span class="span9"> В состав Компании также входят: 4 дирекции коллективов "Цирк на сцене", 3 коллектива "Цирк на льду", 2 коллектива "Цирк на воде", "Цирк лилипутов", "Цирк-ревю", "Театр морских животных", "Невероятно странный цирк", "Золотое турне братьев Шатировых".

   В Компании работает свыше 8000 человек, в том числе, в цирковом конвейере - около 3000 человек, которые заняты в 830 действующих номерах и 48 аттракционах, большинство из которых мирового уровня. В цирковых программах и зооцирках используется около 3000 животных 140 видов.

   Росгосцирк имеет два уникальных Центра циркового искусства: в Москве и Ростове-на-Дону. В них под руководством известных режиссеров, балетмейстеров, композиторов готовятся новые номера, спектакли, аттракционы.</span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://www.pyaterochka.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/five.gif' ) }}" ></a>
            </span>
            <span class="span9">

О компании

«Пятерочка» -  сеть удобно расположенных магазинов формата «мягкий дискаунтер», для людей, ориентированных на быструю покупку рядом с домом качественных продуктов по самым низким ценам. Сеть постоянно совершенствует сервис для покупателей и заботится о качестве продаваемых товаров. Кассовые узлы магазинов оснащаются специальными «красными кнопками» вызова дополнительных кассиров, чтобы предотвратить возникновение очередей. Если покупатель обнаружит на прилавке продукт с истекшим сроком годности, магазин в рамках программы «За качество отвечаем!» подарит ему аналогичный свежий товар. Кроме того, при оплате наличными  «Пятерочка» округляет чеки с суммой покупки от  10 рублей до целого рубля. Таким образом, покупатели экономят  на разменных монетах до 99 копеек с каждой покупки. </span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://www.mosinzhproekt.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/mosinjproekt.gif' ) }}" ></a>
            </span>
            <span class="span9">Открытое акционерное общество Институт по изысканиям и проектированию инженерных сооружений и коммуникаций «МОСИНЖПРОЕКТ». Основан в г.Москве в 1958 году.

Основной целью деятельности института МОСИНЖПРОЕКТ является выполнение городского заказа на проектирование инженерных сооружений и коммуникаций для организаций инвестиционно-строительного комплекса Москвы.</span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://www.neurology.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/nevrologiya.gif' ) }}" style="height: 50px;"></a>
            </span>
            <span class="span9">Научный центр неврологии РАМН - крупнейшая неврологическая клиника России, основной научно-исследовательский и лечебно-диагностический центр нашей страны, способный решать любые задачи в области неврологии. </span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://www.madip.ru/" target="_blanl"><img src="{{ asset( 'uploads/partners/avtodor.jpg' ) }}" ></a>
            </span>
            <span class="span9">Компания "Мосавтодор и Партнеры" была основа в 1991г. Создание компании стало необходимым и возможным вследствие разделения функций государственного заказчика и подрядчика дорожных работ, раннее возложенных на «Мосавтодор».</span>
        </div>
        <div class="row show-grid">
            <span class="span3">
                <a href="http://www.moesk.ru/" target="_blank"><img src="{{ asset( 'uploads/partners/moes.png' ) }}" style="height: 70px;" ></a>
            </span>
            <span class="span9">ОАО «МОЭСК» принимает электроэнергию в сеть от генерирующих компаний – субъектов оптового и розничного рынков, из сети Единой национальной (общероссийской) электрической сети (ЕНЭС) и от сетей, расположенных в смежных субъектах РФ. Затем через собственные сети передает электроэнергию конечным потребителям, в смежные сети (муниципальные унитарные предприятия (МУП), оптовым потребителям-перепродавцам (ОПП), в территориальные сетевые организации (ТСО).</span>
        </div>
    </span>
{% endblock %}
